<div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">Title</label>
      <input name="title" type="text" class="form-control" id="title" placeholder="" value="<%= book.title %>">
    </div>
    <div class="form-group col-md-6">
	    <label for="exampleFormControlSelect1">Author</label>
	    <select name="author" class="form-control" id="exampleFormControlSelect1">
			<% authors.forEach(author => { %>
				<% if(author.id === book.author){%>
	      			<option selected label="<%= author.name%>" value="<%= author.id %>"></option>
	      		<%}else {%>
					<option label="<%= author.name%>"><%= author.id %></option>  
				<%}%>
		  	<%});%>
	    </select>
	</div>
</div>
<div class="form-row">
		<div class="form-group col-md-6">
			<label for="publishDate">Publish Date</label>
			<input name="publishDate" type="date" class="form-control" id="publishDate" 
					value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
		</div>
	    <div class="form-group col-md-6">
			<label for="pageCount">Page Count</label>
			<input name="pageCount" type="number" class="form-control" id="pageCount" min="1" value="<%= book.pageCount %>">
		</div>
</div>
<div class="form-row">
		<div class="form-group col-md-4" style=>
			<label for="cover">Cover</label>
			<input name="cover" type="file" class="filepond">
		</div>
		<div class="form-group col-md-8">
			<label for="inputAddress2">Description</label>
			<textarea class="form-control" id="description" aria-label="With textarea" name="description"><%= book.description %></textarea>
		</div>
</div>
